<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noahrudin.shuttlecompanion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_144_xxhdpi"
        android:label="Shuttle Companion"
        android:roundIcon="@mipmap/icon_144_xxhdpi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".BroadcastReceiver" />

        <service android:name=".TimerService" />
        android:enabled="true"
        android:exported="true"

        />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Shuttle Companion"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".AboutActivity"></activity>
    </application>

</manifest>